In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('parallel_71414.csv')
df

,English,inuktitut
0,hello,", ᐊᐃ’"
1,"""A"" is the first letter of the alphabet.",", ""A"" , ᓯᕗᓪᓕᖅᐹᖑᕗᖅ , ᑎᑎᖅᑲᖅ , alphabet−ᒥᑦ."
2,"""Are those your books?"" ""No, they aren't.""",", ""ᑖᒃᑯᐊ , ᐅᖃᓕᒫᒐᖁᑎᑎᑦ?"" , ""ᐋᒃᑲ, , ᑕᐃᒪᐃᙱᑦᑐᑦ."""
3,"""Are you from Australia?"" asked the Filipino.",", "" , ᐋᔅᑐᕇᓕᐊᒥᙶᖅᐱᑦ?"" , ᐊᐱᕆᓪᓗᑎᑦ , ᐱᓕᐲᓄᒥᑦ."
4,"""Could you move over a little?"" ""Oh, sorry. I ...",", ""ᓅᓚᐅᑲᒍᓐᓇᖅᐲᑦ?"" , ""ᒪᒥᐊᓇᖅ. , ᐅᔾᔨᕈᓱᓚᐅᙱᑦᑐᖓ , ᐃᓂᒃ..."
...,...,...
103958,Zebras have stripes.,0
103959,Zero comes before one.,0
103960,Zero is a special number.,0
103961,Zimbabwe was once a colony of Britain.,0
103962,Zucchinis are green.,0

In [4]:
df_completed=df.loc[df['inuktitut']!='0']
df_completed.to_csv('parallel_tillnow.csv',index=False)
df_completed

,English,inuktitut
0,hello,", ᐊᐃ’"
1,"""A"" is the first letter of the alphabet.",", ""A"" , ᓯᕗᓪᓕᖅᐹᖑᕗᖅ , ᑎᑎᖅᑲᖅ , alphabet−ᒥᑦ."
2,"""Are those your books?"" ""No, they aren't.""",", ""ᑖᒃᑯᐊ , ᐅᖃᓕᒫᒐᖁᑎᑎᑦ?"" , ""ᐋᒃᑲ, , ᑕᐃᒪᐃᙱᑦᑐᑦ."""
3,"""Are you from Australia?"" asked the Filipino.",", "" , ᐋᔅᑐᕇᓕᐊᒥᙶᖅᐱᑦ?"" , ᐊᐱᕆᓪᓗᑎᑦ , ᐱᓕᐲᓄᒥᑦ."
4,"""Could you move over a little?"" ""Oh, sorry. I ...",", ""ᓅᓚᐅᑲᒍᓐᓇᖅᐲᑦ?"" , ""ᒪᒥᐊᓇᖅ. , ᐅᔾᔨᕈᓱᓚᐅᙱᑦᑐᖓ , ᐃᓂᒃ..."
...,...,...
71408,Tom has begun to learn French.,", ᑖᒻ , ᐃᓕᓐᓂᐊᖅᐸᓪᓕᐊᓕᖅᑐᖅ , ᐅᐃᕖᑎᑐᑦ."
71409,Tom has begun writing a new book.,", ᑖᒻ , ᑎᑎᕋᖅᐸᓪᓕᐊᓕᖅᑐᖅ , ᓄᑖᒥᒃ , ᐅᖃᓕᒫᒐᕐᒥᒃ."
71410,Tom has betrayed me.,", ᑖᒻ , ᐅᕙᓐᓄᑦ , ᑐᓱᒋᔭᐅᓯᒪᕚᖓ."
71411,Tom has betrayed us.,", ᑖᒻ , ᑐᓱᕋᖅᑕᐅᔪᖅ."
71412,Tom has big ears.,", ᑖᒻ , ᓯᐅᑎᕐᔪᐊᓕᒃ."