In [9]:
import pandas as pd
df=pd.read_csv('parallel.csv')
df

                                                  English  inuktitut
0                "A" is the first letter of the alphabet.          0
1              "Are those your books?" "No, they aren't."          0
2           "Are you from Australia?" asked the Filipino.          0
3       "Could you move over a little?" "Oh, sorry. I ...          0
4                 "Do you have a pen?" "Yes, I have one."          0
...                                                   ...        ...
103957                               Zebras have stripes.          0
103958                             Zero comes before one.          0
103959                          Zero is a special number.          0
103960             Zimbabwe was once a colony of Britain.          0
103961                               Zucchinis are green.          0

[103962 rows x 2 columns]

In [12]:
outptr=open('counter.txt','w')
outptr.write('1')
outptr.close()

In [15]:
inptr=open('counter.txt')
int(inptr.read())

1

In [5]:
from time import sleep
from selenium import webdriver
from selenium.webdriver.common.by import By
#For BackSpace.
from selenium.webdriver.common.keys import Keys
import pandas as pd

while True:

  try:

    driver = webdriver.Chrome("chromedriver.exe")
    driver.get("https://www.bing.com/translator?to=iu&setlang=ig")

    time_count=0
    inptr=open('counter.txt')
    start=int(inptr.read())
    end=df.shape[0]-1
    index_pointer=start
    for index in range(start,end+1):
        input_el = driver.find_element(By.CLASS_NAME, "tta_incontainer")
        sleep(3)
        input_el.find_element(By.TAG_NAME, "textarea").send_keys(df['English'][index])

        copy_button = driver.find_element(By.ID, "tta_copyIcon")
        while not copy_button.is_enabled():
            pass

        while True:
            sleep(3)
            copy_button.click()
            sleep(3)
            for i in range(len(df['English'][index])):
                input_el.find_element(By.TAG_NAME, "textarea").send_keys(Keys.BACK_SPACE)
            sleep(3)
            # This text is translated
            translated_text = pd.read_clipboard().columns[0]
            df['inuktitut'][index]=translated_text
            if "..." not in translated_text:
                break

        if time_count==2:
            df.to_csv('english_inuktitut_parallel_corpus_bing_2.csv',index=False)
            time_count=0
        else:
            time_count+=1
        index_pointer=index
        outptr=open('counter.txt','w')
        outptr.write(index_pointer)
        outptr.close()

  except:
    pass

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_9060\3703198382.py:12: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("chromedriver.exe")

In [ ]:
df.to_csv('english_inuktitut_parallel_corpus_bing_1.csv',index=False)

In [4]:
import pandas as pd
pd.read_clipboard().columns[0]

"df.to_csv('english_inuktitut_parallel_corpus_bing_1.csv',index=False)"

In [2]:
import pandas as pd
df=pd.read_csv('parallel.csv')
df.head()

                                             English      inuktitut
0                                              hello            ᐊᐃ’
1           "A" is the first letter of the alphabet.            "A"
2         "Are those your books?" "No, they aren't."          "ᑖᒃᑯᐊ
3      "Are you from Australia?" asked the Filipino.              "
4  "Could you move over a little?" "Oh, sorry. I ...  "ᓅᓚᐅᑲᒍᓐᓇᖅᐲᑦ?"